body {
  
}

  #encabezado2
       {
       background:#808080  ;
       font-size: 75px;
       font-family: "Times New Roman", Times, serif;

       }

 #fondo{
     background:#d5d1d1;
  }