body {
}

 #encabezado
       {
       background-color:#909497  ;
       font-size: 75px;
       font-family: "Times New Roman", Times, serif;

       }

   #botonesgenerales{
        background-color:#17202A;

   }